{% extends "::base.html.twig" %}

{% block body %}

<h2>Stats</h2>

<table>
  <tbody>
    {% for key,value in data %}
    <tr>
      <th>{{ key }}</th>
      <td>{{ value }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
