{% extends "::base.html.twig" %}

{% block body %}

<form method="post" action="{{ path('update', {'id':transport.id}) }}">
{% include "HolloPostfixBundle:Default:form.html.twig" %}
</form>

{% endblock %}
